.AccountInfo {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #6c63ff;
  font-size: 24px;
  margin: 20px;
}
label {
  margin: 20px;
  color: #c3c0fa;
}

.acc_btn {
  margin: 20px;
  background: #6c63ff;
  color: #fff;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  /* width: 100px; */
  /* height: 40px; */
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
}

.slider {
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  gap: 2rem;
  height: 4rem;
  align-items: flex-end;
}

.slider_btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 1rem;
}

.slider button:hover {
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 1rem;
  border-bottom: 1px solid blue;
  color: blue;
}

.slider_active {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 1rem;
  border-bottom: 1px solid blue;
  color: blue;
}
