.task-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: auto;
  background: #fff;
  margin-top: 20px;
  border: 1px solid #c3c0fa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(219, 218, 245);
  padding: 1rem;
}

button {
  margin: 0;
}

.addTask-btn {
  margin: 10px;
  background: #6c63ff;
  color: #fff;
  border: none;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
}

.datepicker {
  width: 270px;
  height: 35px;
  border: 1px solid #c3c0fa;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  color: #c3c0fa;
  box-sizing: border-box;
  margin-top: 3px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 35px;
  font-size: 14px;
  color: #c3c0fa;
  font-weight: 700;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid #c3c0fa;
  margin-left: 20px;
}

.select:focus {
  border: 1px solid #c3c0fa;
  border-color: #c3c0fa;
}

@media screen and (max-width: 1200px) {
  .task-card {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .task-card {
    width: 90%;
  }
  .addTask-btn {
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {
  .task-card {
    width: 95%;
  }
  .addTask-btn {
    margin: 20px;
  }
}

@media screen and (max-width: 500px) {
  .task-card {
    width: 98%;
  }
  .addTask-btn {
    margin: 20px;
  }
}
