* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.lightBackground {
}

.darkBackground {
  background-color: rgb(31, 48, 48);
}

.darkBackground2 {
  background-color: rgb(29, 61, 61);
}
